<div class="user-management page">
  <header>
    <h1>User Management Header</h1>
  </header>
  <main>
    <section class="user-management__section">
      <h2>User Management</h2>
      <um-table [headers]="headers" [data]="data"></um-table>
      <um-button [accent]="true" type="button" (click)="addUser()"
        >Add User</um-button
      >
    </section>
  </main>
  <footer>
    <p>User Management Footer</p>
  </footer>
</div>

<um-modal
  cancelLabel="Cancel"
  submitLabel="Create button"
  [content]="modalContent"
  (cancelEvent)="handleCancel()"
  (confirmEvent)="handleConfirm()"
>
  <ng-container modal-header>
    <h2>Create User</h2>
  </ng-container>
  <ng-container modal-footer>
    <p>User Management</p>
  </ng-container>
</um-modal>

<ng-template #modalContent>
  <um-create-user></um-create-user>
</ng-template>
