@use "utils" as utils;

.um-button {
  @include utils.button-base;
}

.um-button.solid {
  @include utils.button-base(var(--color-primary-500), var(--color-white)) {
    @include utils.button-base-hover-effect;
  }
}

.um-button.accent {
  @include utils.button-base(var(--color-secondary-500), var(--color-white)) {
    @include utils.button-base-hover-effect;
  }
}

.um-button[disabled] {
  cursor: default;
  opacity: 0.5;
}

@media only screen and (max-width: 480px) {
  .um-button {
    font-size: 1.378rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .um-button {
    font-size: 1.575rem;
  }
}
